/* Initialization */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #222222;
    font-family: cursive;
    font-size: 150%;
    color: aquamarine;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
input {
    background: none;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

/* Search Box */
.search-box {
    position: absolute;
    left: 50%;
    top: 7%;
    transform: translate(-50%, 0);
    border: 2px aquamarine solid;
    padding: 5px;
    border-radius: 100px;
    display: flex;
}
button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s;
}
input {
    font-size: 1.1em;
    width: 0;
    transition: .5s;
    margin: 0;
    order: 1;
}
.search-box:focus-within input, .search-box:hover input {
    width: 275px;
    margin: 0 5px 0 10px;
}
.search-box:focus-within button, .search-box:hover button {
    background: aquamarine;
}
.search-box:focus-within path, .search-box:hover path {
    stroke: #222222;
}